body {
     height: 150vh;
     width: 100%;
     background-color: antiquewhite;

}

.container {
     height: 100%;
     width: 100%;
     z-index: -1;
     background-color: antiquewhite;


}

.home {
     height: 40px;
     width: 120px;
     margin-right: 2vw;
     border: 3px solid #000000;
     border-radius: 10px;
     background-color: antiquewhite;
}

.home a {
     text-decoration: none;
     color: black;
     font-size: 20px;
}

.nav {
     height: 90px;
     width: 100%;
     background-color: crimson;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border: 4px solid black;
          border-radius: 20px;
}


.nav h2,
a {
     margin-left: 1vw;
     text-decoration: none;
     color: black;
}.container2{
     height: 100%;width: 100%;
     background-color: antiquewhite;
}
.container2 .slot1{
     height: 50%;
     width: 100%;
     background-color:antiquewhite;
     display: flex;
     align-items: center;
     justify-content: space-between;
}.slot2{
     height: 50%;
     width: 100%;
     background-color: antiquewhite;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.slot1 div{
     height: 70%;
     width: 30%;
     background-color:aqua;
     border: 10px double black;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     border-radius: 40px;
    transition: all 0.9s ease ;
}
.slot2 div {
     height: 70%;
     width: 30%;
     background-color: aqua;
     border: 10px double black;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
        
     border-radius: 40px;
     transition: all 0.9s ease;
}
.slot1 div:hover{
     background-color: rgb(186, 188, 189);
     transform: rotate(360deg);
     border-radius: 40%;
}
.slot2 div:hover {
     background-color: rgb(186, 188, 189);
     transform: rotate(360deg);
     border-radius: 40%;
}

@media (max-width:600px) {
     .container{
          height: 250vh;
          width: 100%;
     }
     .container2{
          height: 100%;
          width: 100%;
          background-color: antiquewhite;
     }.slot1{
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: antiquewhite;
          gap: 100px;
   
     }
     .slot1 div{
          height: 280px;
          width: 350px;
     }
           
     .h2{
          font-size: 7vw;
          text-decoration: underline;
          text-align: center;
     }
     .slot2 {
          position: relative;
          top: 20vw;
          height: 50%;
           width: 100%;
           display: flex;
          justify-content: center;
           align-items: center;
          flex-direction: column;
          gap: 150px;
          background-color: antiquewhite;
     }
     
     .slot2 div {
           height: 280px;
           width: 350px;
     }
         
     
}